---
import ProgressBar from "./ProgressBar.astro";
import { aboutContent, devDotToUrl } from "../../data/changeableData";
export interface Props {}

const {} = Astro.props;
---

<section class="about-section-outer" id="about">
  <div class="about-section-inner container2">
    <img src="/images/circle-grid-10x10.svg" class="about-dot" />
    <h2 class="about-heading-mobile">About</h2>
    <img src="/images/bijish.webp" class="about-person-image" />
    <div class="about-special-wrap">
      <div class="about-text">
        <h2 class="about-heading">About</h2>
        <a href="https://dev.to/bijishjs" target="_blank" class="dev-to-link"
          ><img src={devDotToUrl} class="devDotToImage" /><span
            >dev.to/bijishjs</span
          ></a
        >
      </div>
      <p class="about-content">{aboutContent}</p>
    </div>
  </div>
</section>

<style>
  .about-section-outer {
    background: var(--shade2);
    margin-top: 120px;
  }
  .about-section-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 80px;
    padding-top: 50px;
    padding-bottom: 60px;
    position: relative;
  }

  .about-dot {
    max-width: 150px;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .about-heading {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 40px;
    margin: 0px;
    z-index: 10;
  }
  .about-heading-mobile {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 40px;
    margin: 0px;
    text-align: center;
    display: none;
    z-index: 10;
  }
  .about-person-image {
    border-radius: 24px;
    width: 100%;
    max-width: 300px;
    z-index: 10;
  }
  .about-text {
    display: flex;
    flex-direction: column;
  }

  .about-content {
    font-family: var(--font-light);
    line-height: 150%;
    color: var(--shade4);
    width: 80%;
    font-size: 16px;
    z-index: 10;
  }
  .dev-to-link {
    color: var(--shade4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .devDotToImage {
    aspect-ratio: 1/1;
    max-width: 40px;
    border-radius: 50%;
  }
  @media screen and (max-width: 1024px) {
    .about-section-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      column-gap: 80px;
      row-gap: 20px;
      padding-top: 50px;
      padding-bottom: 60px;
      position: relative;
    }
    .about-heading {
      text-align: center;
    }
    .about-content {
      width: 100%;
    }
    .about-heading-mobile {
      display: block;
    }
    .about-heading {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .about-heading-mobile {
      display: block;
    }
    .about-heading {
      display: none;
    }
    .about-content {
      width: 100%;
    }
  }
</style>
