---
export interface Props {}

const {} = Astro.props;
---

<section class="footer-section" id="footer">
  <p class="footer-text">COPYRIGHT © 2023 BIJISH O B</p>
</section>

<style>
  .about-section-outer {
    background: #000;
    margin-top: 120px;
  }
  .footer-text {
    text-align: center;
    color: var(--shade4);
    font-family: var(--font-light);
  }
</style>
