---
const personImageURL = "/portfolio/images/bijish.png";
---

<header class="container2 header circle-bg" id="intro">
  <div class="social top-spacing">
    <a href="https://www.linkedin.com/in/bijishob" target="_blank">
      <i class="fa-brands fa-linkedin-in icon-color"></i></a
    >
    <a href="    https://github.com/bijish-js
    " target="_blank">
      <i class="fa-brands fa-github-alt icon-color"></i>
    </a>
  </div>
  <div class="circle-center-content">
    <img src={personImageURL} class="person-image" />
    <label class="person-label">FULL STACK DEVELOPER</label>
    <h1 class="person-name">BIJISH O B</h1>
    <nav class="navigation">
      <a href="#experience" class="nav-link">EXPERIENCE</a>
      <a href="#skills" class="nav-link">SKILLS</a>
      <a href="#projects" class="nav-link">PROJECTS</a>
      <a href="#about" class="nav-link">ABOUT</a>
    </nav>
  </div>
  <div class="action top-spacing" role="button">
    <a href="mailto:bijish.o.b@gmail.com" class="mail-to mail-to-in-action">
      <i class="fa-solid fa-envelope icon-color"></i>
      <span class="action-text">GET IN TOUCH</span>
    </a>
  </div>
  <a href="mailto:bijish.o.b@gmail.com" class="mail-to">
    <div class="action-big" role="button">
      <i class="fa-solid fa-envelope icon-color"></i>
    </div>
  </a>
</header>

<style>
  .header {
    /* background-color: red; */
    /* display: flex;
    justify-content: space-between; */
    column-gap: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-end: span;
    overflow: hidden;
  }
  .circle-bg {
    height: 100vh;
    background-image: url("/images/circles.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }
  .circle-center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .person-image {
    border-radius: 50%;
    width: 140px;
    filter: grayscale(10%) contrast(100%);
  }
  .person-label {
    color: var(--shade4);
    font-family: var(--font-light);
    padding-top: 24px;
    letter-spacing: 4px;
    font-size: 16px;
    opacity: 0.6;
  }
  .person-name {
    color: var(--shade4);
    font-family: var(--font-bold);
    font-size: 56px;
    margin: 0px;
  }
  .navigation {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    box-sizing: border-box;
    padding-top: 8px;
  }
  .nav-link {
    text-decoration: none;
    color: var(--shade3);
    padding: 12px 36px;
    border-radius: 24px;
    border: 1px solid transparent;
    transition: 0.3s opacity ease-in-out;
    letter-spacing: 1px;
    font-family: var(--font-light);
    font-size: 16px;
  }
  .nav-link:hover {
    border: 1px solid var(--shade4);
    color: var(--shade4);
  }
  .social {
    display: flex;
    column-gap: 12px;
    align-items: center;
    height: min-content;
  }
  .action {
    display: flex;
    column-gap: 8px;
    align-items: center;
    height: min-content;
    cursor: pointer;
    justify-self: end;
  }
  .mail-to-in-action {
    display: flex;
    column-gap: 8px;
    align-items: center;
    height: min-content;
    cursor: pointer;
    justify-self: end;
  }
  .action-text {
    color: var(--shade4);
    font-family: var(--font-light);
    font-size: 16px;
  }
  .top-spacing {
    padding-top: 32px;
  }
  .action-big {
    position: absolute;
    left: 10px;
    bottom: 0px;
    border-radius: 16px;
    background-color: var(--shade2);
    font-size: 36px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 8px;
    cursor: pointer;
  }
  .mail-to {
    text-decoration: none;
  }

  @media screen and (max-width: 820px) {
    .circle-bg {
      background-size: cover;
    }
  }
  @media screen and (max-width: 768px) {
    .circle-bg {
      background-size: cover;
    }
  }
  @media screen and (max-width: 600px) {
    .person-name {
      font-size: 48px;
    }
    .navigation {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header {
      grid-template-columns: 1fr;
    }
    .social {
      justify-self: center;
    }
    .action {
      display: none;
    }
  }
</style>
