---
import ProgressBar from "./ProgressBar.astro";
import SkillCard from "../cards/SkillCard.astro";
import { skills } from "../../data/changeableData";
export interface Props {}

const {} = Astro.props;
---

<section class="skills-section-outer" id="skills">
  <div class="skills-section-inner container2">
    <div class="skills-progress">
      <h2 class="skills-heading">Skills</h2>
      <div class="skills-progress-items">
        {
          skills.map(({ name, progress }) => {
            return (
              <div class="skill-progress-item">
                <span class="skill-progress-name">{name}</span>
                <div class="skill-progressbar-wrap">
                  <ProgressBar progress={progress} />
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
    <div class="skills-known">
      {
        skills.map(({ name, icon }) => {
          return (
            <div class="skill-card-wrap">
              <SkillCard skill={name} icon={icon} />
            </div>
          );
        })
      }
    </div>
  </div>
</section>
<style>
  .skills-section-outer {
    position: relative;
    background: linear-gradient(
      to right,
      var(--shade2) 0%,
      var(--shade2) 50%,
      var(--shade1) 50%,
      var(--shade1) 100%
    );
    margin-top: 140px;
  }
  .skills-section-inner {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    padding: 50px 0px;
    padding-bottom: 60px;
  }
  .skills-progress {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .skills-known {
    flex: 1;
  }
  .skills-dot {
    max-width: 80px;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  .skills-heading {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 40px;
    margin: 0px;
  }
  .skills-progress-items {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 24px;
  }
  .skill-progress-item {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 16px;
  }
  .skill-progress-name {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 16px;
  }
  .skill-progressbar-wrap {
    background-color: red;
    max-width: 500px;
    width: 100%;
  }
  .skills-known {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
  }
  .skill-card-wrap {
    display: flex;
    align-items: center;
  }
</style>
