---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <Experience />
  </main>
</Layout>
<Skills />

<style></style>
