---
export interface Props {
  progress: string;
}

const { progress = "0%" } = Astro.props;
---

<div class="progress-bar">
  <div class="progress" style={{ width: progress }}></div>
</div>

<style>
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #eee;
  }

  .progress {
    height: 100%;
    background-color: var(--shade3);
    width: 0%;
    transition: width 0.5s ease-in-out;
  }
</style>
